body {
  background: url(https://upload.wikimedia.org/wikipedia/commons/2/24/Male_mallard_duck_2.jpg);
  /*background-size: cover;*/
}
#Baseball {
  color: red;
}
#Basketball {
  color: gold;
}
h1 {
  text-align: center;
}
